<%= notice %>

<h2>Daily Flight Schedule</h2>

<div id="search">
  <%= form_tag flights_url, method: :get do %>
	<label for="keyword">Search:</label><input type="text" name="keyword" placeholder="Enter an Airport Code" size="30">
  <%= submit_tag 'Search' %>
  <% end %>
</div>

<%= paginate @flights %>

<table>
  <thead>
    <tr>
      <th>
      <th>Flight Number</th>
      <th>Leaves</th>
      <th>Time</th>
      <th>Arrives</th>
      <th>Time</th>
      <th>Seats Remaining</th>
      <th>Miles</th>
    </tr>
  </thead>
  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td>
          <% if flight.bookable? %>
            <%= link_to "Book Now", new_reservation_path(:flight_id => flight.id) %>
          <% end %>
        </td>
        <td><%= flight.number %></td>
        <td><%= flight.departure_airport.city %></td>
        <td><%= flight.departs_at.localtime.strftime("%l:%M %P") %></td>
        <td><%= flight.arrival_airport.city %></td>
        <td><%= flight.arrives_at.localtime.strftime("%l:%M %P") %></td>
        <td><%= flight.seats_remaining %></td>
        <td><%= flight.distance %></td>
      </tr>
    <% end %>
  </tbody>
</table>