<h2>My Profile</h2>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Frequent Flyer Miles:
    <%= @user.miles_earned %>
  </b>

</p>

<h3>Reservations</h3>
<ul>
<% @user.reservations.each do |reservation| %>
  <li><%= reservation.departs_on %>: 
    Flight #<%= reservation.flight.number %>
    Miles: <%= reservation.flight.distance %>
    <%= link_to "Cancel", reservation_url(reservation), :method => :delete, :confirm => 'Awww, really?' %>
  </li>
<% end %>
</ul>







