<h1>Reservations</h1>

<div id="moolah">
  <p>We've made <%= number_to_currency(Reservation.count * 70) %> so far!</p>
</div>


<table>
  <tr>
    <th>Flight</th>
    <th>User</th>
    <th>Card number</th>
    <th>Departs on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reservations.each do |reservation| %>
  <tr>
    <td><%= reservation.flight.number %></td>
    <td><%= reservation.user.name %></td>
    <td><%= reservation.card_number %></td>
    <td><%= reservation.departs_on %></td>
    <td><%= link_to 'Show', reservation %></td>
    <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
    <td><%= link_to 'Destroy', reservation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reservation', new_reservation_path %>
