<h1>Listing airports</h1>

<table>
  <tr>
    <th>Code</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @airports.each do |airport| %>
  <tr>
    <td><%= airport.code %></td>
    <td><%= airport.city %></td>
    <td><%= link_to 'Show', airport %></td>
    <td><%= link_to 'Edit', edit_airport_path(airport) %></td>
    <td><%= link_to 'Destroy', airport, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Airport', new_airport_path %>
